<?xml version="1.0"?>
<!--
/**
 * Copyright © Nathanjosiah. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\View\LayoutInterface" type="Nathanjosiah\LayoutDebugger\Model\OpenLayout"/>
    <type name="Magento\Framework\View\Layout">
        <plugin name="layout_debugger_xml_dump" type="Nathanjosiah\LayoutDebugger\Plugin\XmlDumpPlugin" />
        <plugin name="layout_debugger_inline_comments" type="Nathanjosiah\LayoutDebugger\Plugin\InlineCommentsPlugin" />
    </type>
</config>
